@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px
    }

    .container {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 99999;
    }

    .navbar label {
        font-size: 1.5em;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
    }

    .background #desktop {
        font-size: 6em;
    }

    .background #desktop2 {
        font-size: 6em;
    }

    .container2 {
        flex-direction: column;
    }
    .ctn2 {
        margin-top: 0;
    }

    .container3 {
        flex-direction: column;
    }

    .footer {
        justify-content: left;
    }

    .footer-list {
        flex-direction: column;
        justify-content: left;
        align-items: start;
    }

    /*about*/
    .about-background #desktop {
        font-size: 6em;
    }

    .about-background #desktop2 {
        font-size: 6em;
    }

    .about-footer {
        justify-content: left;
    }
    
    /*Ongs*/
    .ongs-main {
        margin-top: 20%;
    }

    .ongs-main .content {
        flex-direction: column;
    }

    .contatoss {
        margin-top: 50px;
    }

}